In [1]:
import pandas as pd

/var/folders/ld/s5_rrf_n32q9rltztl0sz_fh0000gn/T/ipykernel_35291/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [27]:
def predict(
          manufacturer_name,
            car_model_name,
            car_model_year,
            ):
    df=pd.read_csv('/Users/bididudy/code/marcnaweb/car_recommendation_engine/raw_data/car_prices_enriched_v3_carPriceIndex.csv')
    df=df[['car_code','car_manufacturer','car_model','car_model_year']]


    # Prepare the inputs for case-insensitive comparison
    manufacturer_name = manufacturer_name.lower()
    car_model_name_first_word = car_model_name.lower().split(' ')[0]  # Get the first word and convert to lowercase

    # Apply transformations to DataFrame for comparison
    df['car_manufacturer_lower'] = df['car_manufacturer'].str.lower()
    df['car_model_first_word'] = df['car_model'].str.lower().apply(lambda x: x.split(' ')[0])

    # Filter the DataFrame based on the input criteria
    filtered_df = df[(df['car_manufacturer_lower'] == manufacturer_name) &
                     (df['car_model_first_word'] == car_model_name_first_word) &
                     (df['car_model_year'] == car_model_year)]

    # Drop the temporary columns
    filtered_df = filtered_df.drop(columns=['car_manufacturer_lower', 'car_model_first_word'])

    # Check if any car matches the criteria
    if not filtered_df.empty:
        # Assuming 'car_code' is the identifier you're referring to
        return filtered_df[['car_model', 'car_code']].drop_duplicates().to_dict('records')
    else:
        return "No matching car found."

In [28]:
manufacturer_name='Honda'
car_model_name ='Civic LX 1.7 AT'
car_model_year =2002

In [29]:
predict(
          manufacturer_name,
            car_model_name,
            car_model_year,
            )

[{'car_model': 'Civic LX 1.7', 'car_code': 13},
 {'car_model': 'Civic EX 1.7 AT', 'car_code': 1967},
 {'car_model': 'Civic LX 1.7 AT', 'car_code': 6664},
 {'car_model': 'Civic EX 1.7', 'car_code': 6665}]

In [2]:
df=pd.read_csv('/Users/bididudy/code/marcnaweb/car_recommendation_engine/raw_data/car_prices_enriched_v3_carPriceIndex.csv')

In [4]:
new_df=df[['car_code','car_manufacturer','car_model','car_model_year']]
new_df

,car_code,car_manufacturer,car_model,car_model_year
0,1,Lamborghini,Murcielago 6.2 V12,2002
1,2,Fiat,Uno Mille Fire 1.0,2002
2,3,Chevrolet,Astra Sport 2.0,2002
3,5,Volkswagen,Golf GTi 1.8 Turbo,2002
4,6,Fiat,Brava HGT 1.8 16V,2002
...,...,...,...,...
20698,23878,Hyundai,HB20 Limited 1.0,2024
20699,23883,Hyundai,HB20 Comfort 1.0 Turbo,2024
20700,23884,Hyundai,HB20 Comfort 1.0 Turbo AT,2024
20701,23885,Hyundai,HB20 Platinum 1.0 Turbo AT,2024
20702,23893,Hyundai,HB20 Platinum Plus 1.0 Turbo AT,2024

In [3]:
df.columns

Index(['Unnamed: 0', 'car_code', 'car_last_price_in_brl', 'car_manufacturer',
       'car_model', 'car_model_year', 'first_year_of_tracking',
       'last_factory_price', 'last_factory_price_year', 'year_01', 'year_02',
       'year_03', 'year_04', 'year_05', 'year_06', 'year_07', 'year_08',
       'year_09', 'year_10', 'year_11', 'year_12', 'year_13', 'year_14',
       'year_15', 'year_16', 'year_17', 'year_18', 'year_19', 'year_20',
       'new_car_ajustment_index', 'new_car_price_ajusted',
       'first_year_of_tracking_index', 'year_01_ajusted', 'year_02_ajusted',
       'year_03_ajusted', 'year_04_ajusted', 'year_05_ajusted',
       'year_06_ajusted', 'year_07_ajusted', 'year_08_ajusted',
       'year_09_ajusted', 'year_10_ajusted', 'year_11_ajusted',
       'year_12_ajusted', 'year_13_ajusted', 'year_14_ajusted',
       'year_15_ajusted', 'year_16_ajusted', 'year_17_ajusted',
       'year_18_ajusted', 'year_19_ajusted', 'year_20_ajusted', 'year_00_pc',
       'year_01_pc', 'year_02_pc', 'year_03_pc', 'year_04_pc', 'year_05_pc',
       'year_06_pc', 'year_07_pc', 'year_08_pc', 'year_09_pc', 'year_10_pc',
       'year_11_pc', 'year_12_pc', 'year_13_pc', 'year_14_pc', 'year_15_pc',
       'year_16_pc', 'year_17_pc', 'year_18_pc', 'year_19_pc', 'year_20_pc',
       'year_01_yoy', 'year_02_yoy', 'year_03_yoy', 'year_04_yoy',
       'year_05_yoy', 'year_06_yoy', 'year_07_yoy', 'year_08_yoy',
       'year_09_yoy', 'year_10_yoy', 'year_11_yoy', 'year_12_yoy',
       'year_13_yoy', 'year_14_yoy', 'year_15_yoy', 'year_16_yoy',
       'year_17_yoy', 'year_18_yoy', 'year_19_yoy', 'year_20_yoy'],
      dtype='object')

In [5]:
df=new_df

# Step 2: Combine Columns - Assuming the columns are named 'CarModel' and 'Year'
df['ModelYear'] = df['car_model'].astype(str) + '_' + df['car_model_year'].astype(str)

# Step 3: Drop Duplicates based on the new 'ModelYear' column
unique_cars_df = df.drop_duplicates(subset=['ModelYear'])

unique_cars_df

,car_code,car_manufacturer,car_model,car_model_year,ModelYear
0,1,Lamborghini,Murcielago 6.2 V12,2002,Murcielago 6.2 V12_2002
1,2,Fiat,Uno Mille Fire 1.0,2002,Uno Mille Fire 1.0_2002
2,3,Chevrolet,Astra Sport 2.0,2002,Astra Sport 2.0_2002
3,5,Volkswagen,Golf GTi 1.8 Turbo,2002,Golf GTi 1.8 Turbo_2002
4,6,Fiat,Brava HGT 1.8 16V,2002,Brava HGT 1.8 16V_2002
...,...,...,...,...,...
20698,23878,Hyundai,HB20 Limited 1.0,2024,HB20 Limited 1.0_2024
20699,23883,Hyundai,HB20 Comfort 1.0 Turbo,2024,HB20 Comfort 1.0 Turbo_2024
20700,23884,Hyundai,HB20 Comfort 1.0 Turbo AT,2024,HB20 Comfort 1.0 Turbo AT_2024
20701,23885,Hyundai,HB20 Platinum 1.0 Turbo AT,2024,HB20 Platinum 1.0 Turbo AT_2024
20702,23893,Hyundai,HB20 Platinum Plus 1.0 Turbo AT,2024,HB20 Platinum Plus 1.0 Turbo AT_2024