In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [2]:
!pwd

/home/marcnaweb/code/marcnaweb/car_recommendation_engine/notebooks

# Creating the search data frame

In [3]:
price_df = pd.read_csv('/home/marcnaweb/code/marcnaweb/car_recommendation_engine/raw_data/car_prices_w_prices_scaled.csv', index_col=0)

In [4]:
features_df = pd.read_csv('/home/marcnaweb/code/marcnaweb/car_recommendation_engine/raw_data//scaled_cleaned.csv')

In [5]:
merged_df = price_df.merge(features_df, left_on="car_code", right_on="car_code", how="left")

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoderunique_car_models_df


price_df = pd.read_csv('/home/nika/code/marcnaweb/car_recommendation_engine/raw_data/car_prices_w_prices_scaled.csv', index_col=0)
features_df = pd.read_csv('/home/nika/code/marcnaweb/car_recommendation_engine/raw_data/scaled_cleaned.csv')
merged_df = price_df.merge(features_df, left_on="car_code", right_on="car_code", how="left")
search_df = merged_df[["car_manufacturer", "car_model", "car_model_year", "car_code"]].drop_duplicates()
#search_df.to_pickle('dataframe.pkl')
#loaded_df = pd.read_pickle('dataframe.pkl')

# merged_df[merged_df["car_model"]== "A3 1.6"].drop_duplicates()
merged_df.drop_duplicates()
# result = search_df[search_df["car_model"] == "A3 1.6"]
# result

,car_code,car_manufacturer,car_model,car_model_year,Year_x,Price_YoY,Next_YoY_Price,Next_YoY_Pr_Pred,calendar_year,Price_sd_scaled,...,Maximum power,Unit displacement,Trunk,USB connection,Gear speed transmissions,Urban,Year_y,Radio,Folding rear seat,Perimeter anti theft alarm
45,447,Audi,A3 1.6,2003,19,1.099386,1.009524,0.979539,2022,-0.420781,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
577,13728,Audi,A3 1.6,2004,18,1.098795,1.009260,0.986556,2022,-0.401595,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.642857,0.0,0.0,0.0
874,5590,Audi,A3 1.6,2005,17,1.097655,1.005300,0.977269,2022,-0.376347,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
1533,16270,Audi,A3 1.6,2006,16,1.090405,1.002331,0.985112,2022,-0.505105,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.678571,0.0,0.0,0.0
13634,13727,Audi,A3 1.6,2002,19,0.961543,1.123196,0.979539,2021,1.602659,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.607143,0.0,0.0,0.0
13837,447,Audi,A3 1.6,2003,18,0.961107,1.099386,0.986556,2021,1.463969,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
14338,13728,Audi,A3 1.6,2004,17,0.969017,1.098795,0.977269,2021,1.449220,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.642857,0.0,0.0,0.0
14609,5590,Audi,A3 1.6,2005,16,0.904234,1.097655,0.985112,2021,0.046855,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
15238,16270,Audi,A3 1.6,2006,15,0.931231,1.090405,0.983321,2021,0.582156,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.678571,0.0,0.0,0.0
26403,10248,Audi,A3 1.6,2001,19,0.918569,0.929307,0.979539,2020,-0.275791,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.589286,0.0,0.0,0.0
26650,447,Audi,A3 1.6,2003,17,0.932504,0.961107,0.977269,2020,0.234767,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
27104,5590,Audi,A3 1.6,2005,15,0.943806,0.904234,0.983321,2020,0.381189,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
37186,5589,Audi,A3 1.6,2000,19,0.928650,0.898457,0.979539,2019,0.186008,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.571429,0.0,0.0,0.0
37504,447,Audi,A3 1.6,2003,16,0.920414,0.932504,0.985112,2019,-0.018957,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
37812,5590,Audi,A3 1.6,2005,14,0.908575,0.943806,0.985318,2019,-0.406753,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
46661,5589,Audi,A3 1.6,2000,18,0.935517,0.928650,0.986556,2018,-0.605112,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.571429,0.0,0.0,0.0
46938,447,Audi,A3 1.6,2003,15,0.925845,0.920414,0.983321,2018,-0.604491,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
47211,5590,Audi,A3 1.6,2005,13,0.955467,0.908575,0.987452,2018,-0.092405,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
55063,5589,Audi,A3 1.6,2000,17,0.930780,0.935517,0.977269,2017,-0.132051,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.571429,0.0,0.0,0.0
55311,447,Audi,A3 1.6,2003,14,0.932681,0.925845,0.985318,2017,0.136118,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
55569,5590,Audi,A3 1.6,2005,12,0.934933,0.955467,0.986298,2017,0.247307,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.660714,0.0,0.0,0.0
62623,447,Audi,A3 1.6,2003,13,0.918873,0.932681,0.987452,2016,0.457706,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
68811,447,Audi,A3 1.6,2003,12,0.872453,0.918873,0.986298,2015,0.227582,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
74012,447,Audi,A3 1.6,2003,11,0.920370,0.872453,0.989107,2014,-0.120011,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
78337,447,Audi,A3 1.6,2003,10,0.817641,0.920370,0.985393,2013,-0.438116,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0
81839,447,Audi,A3 1.6,2003,9,0.920438,0.817641,0.978374,2012,0.224399,...,0.038122,0.399588,0.023008,0.0,0.454545,0.166253,0.625000,0.0,0.0,0.0

In [ ]:
search_df = merged_df[["car_manufacturer", "car_model", "car_model_year", "car_code"]].drop_duplicates()
search_df

      car_manufacturer                car_model  car_model_year  car_code
0           Volkswagen                 Polo 1.6            2003       371
1                 Ford  Fiesta Supercharger 1.0            2003       372
2                 Audi     S3 1.8 Turbo Quattro            2003       376
3           Alfa Romeo               156 2.5 V6            2003       377
4           Volkswagen          Parati Tour 2.0            2003       379
...                ...                      ...             ...       ...
84126       Mitsubishi     Eclipse GS 2.0 Turbo            1992       333
84127             Ford         Royale Ghia 2.0i            1992       334
84128             Fiat            Uno Mille 1.0            1992       336
84129        Chevrolet      Chevette Junior 1.0            1992       432
84130             Ford        Taurus SHO 3.0 V6            1992       677

[14571 rows x 4 columns]

## Creating the car code finder

In [7]:
search_df["car_model_text"] = search_df["car_manufacturer"] + " - " + search_df["car_model"] + " - " + search_df["car_model_year"].map(str)

In [8]:
search_df

,car_manufacturer,car_model,car_model_year,car_code,car_model_text
0,Volkswagen,Polo 1.6,2003,371,Volkswagen - Polo 1.6 - 2003
1,Ford,Fiesta Supercharger 1.0,2003,372,Ford - Fiesta Supercharger 1.0 - 2003
2,Audi,S3 1.8 Turbo Quattro,2003,376,Audi - S3 1.8 Turbo Quattro - 2003
3,Alfa Romeo,156 2.5 V6,2003,377,Alfa Romeo - 156 2.5 V6 - 2003
4,Volkswagen,Parati Tour 2.0,2003,379,Volkswagen - Parati Tour 2.0 - 2003
...,...,...,...,...,...
84126,Mitsubishi,Eclipse GS 2.0 Turbo,1992,333,Mitsubishi - Eclipse GS 2.0 Turbo - 1992
84127,Ford,Royale Ghia 2.0i,1992,334,Ford - Royale Ghia 2.0i - 1992
84128,Fiat,Uno Mille 1.0,1992,336,Fiat - Uno Mille 1.0 - 1992
84129,Chevrolet,Chevette Junior 1.0,1992,432,Chevrolet - Chevette Junior 1.0 - 1992
84130,Ford,Taurus SHO 3.0 V6,1992,677,Ford - Taurus SHO 3.0 V6 - 1992

In [9]:
def list_cars(car_model_text):
    return search_df.query(f'car_model_text.str.contains("{car_model_text}")', engine='python')[["car_model_text"]]

In [10]:
list_cars("307 Passion ")

                         car_model_text
224    Peugeot - 307 Passion 1.6 - 2003
13503  Peugeot - 307 Passion 1.6 - 2002

In [11]:
def get_car_code(car_model_text):
    return search_df.query(f'car_model_text.str.contains("{car_model_text}")', engine='python').head(1)["car_code"].to_list()[0]

In [12]:
get_car_code("Peugeot - 307 Passion 1.6 - 2003")

13581

In [13]:
search_df.to_csv("search_df_csv.csv")